.material_round-button {
    position: relative;
    font-size: 19px;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.material_round-button .icon {
    display: block;
    margin-top: 27px;
    z-index: 10;
    width: 100%;
    transform: translateY(-50%);
}
.material_round-button .hover-anim {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(100%);
    z-index: 0;
    transition: 0.3s;
}
.material_round-button:hover .hover-anim {
    transform: translate(-50%, -50%) scale(55);
    transition: 0.2s;
}
.material_round-button:active .hover-anim {
    filter: brightness(120%);
    transition: 0.1s;
}