.material_base-button {
    position: relative;
    font-size: 19px;
    height: 50px;
    min-width: 50px;
    max-width: 250px;
    box-sizing: border-box;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.material_base-button .text {
    display: block;
    margin-top: 25px;
    z-index: 10;
    transform: translateY(-50%);
}
.material_base-button .hover-anim {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(100%);
    z-index: 0;
    transition: 0.3s;
}
.material_base-button:hover .hover-anim {
    transform: translate(-50%, -50%) scale(260);
    transition: 0.2s;
}
.material_base-button:active .hover-anim {
    filter: brightness(120%);
    transition: 0.1s;
}